body{
    background-image: url("css5.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
img{
    height: 250px;
    padding-left: 580px;
    padding-top: 150px;
}
input{
    border-radius: 50px;
    margin-left: 655px;
    margin-top: 20px;
    background-color: rgb(61, 137, 204);
    box-shadow: 2px 2px black;
    width: 100px;
    height: 50px;
    border-color: rgb(240, 248, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(29, 93, 150);
    margin-left: 610px;
    
}