body{
    background-image: url("css5.png");
    background-repeat: no-repeat;
    background-size: 120%;
}
div {
    width: 96.1%;
    border: 5px solid;
    padding: 30px;
    margin-top: -10px;
    margin-left: -10px;
    background-color: black;
    position:fixed;
    }
img{
    height: 250px;
    margin-left: 850px;
    margin-top: 250px;
}
input{
    border-radius: 50px;
    margin-left: 920px;
    margin-top: 20px;
    background-color: rgb(61, 137, 204);
    box-shadow: 2px 2px black;
    width: 100px;
    height: 50px;
    border-color: rgb(240, 248, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(29, 93, 150);
    margin-top: 30px;
    margin-left: 875.5px;
    
}
a{
    color: aliceblue;
    margin: 15px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: yellow;
}